---
---
<footer>
    <p>Naomi Guadalupe Reyes Reyes, 28 de Octubre 2025.</p>
</footer>
<style>
        footer {
            text-align: center;
            color: black;
            padding: 15px;
            font-family: Calibri;
        }
</style>