<nav class="navbar">
  <div class="navdiv">
    <div class="logo"><a href="/">TataShop</a></div>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/stock">Control de Stock</a></li>
    </ul>
  </div>
</nav>

<style>
  .navbar {
    background-color: #ee4a5a;
    padding: 15px;
    font-family: Calibri, sans-serif;
  }

  .navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  li a:hover {
    color: #ee4a5a;
    background-color: white;
  }
</style>
